@charset "UTF-8";

#box {
	width: 700px;
	height: 500px;
	margin: auto; /* 중앙정렬 */ 
	margin-top: 30px;
	
	/* background: #cccccc; */
}

#title{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	
	color: #87CEFA;
	
	/* text-shadow: 1px 1px 1px black; */
}

#empty_msg{
	text-align: center;
	/* font-weight: bold; */
	font-size: 20px;
	
	margin-top: 80px;
}

.mycommon{
	margin: 5px;
	padding: 5px;
	border: 1px solid #eeeeee;
	/* box-shadow: 1px 1px 1px #666666; */
}

.content{
	min-height: 60px;
	font-size: 15px;
}

.regdate, .pwd{
	font-weight:bold;
}